{% extends "base.html" %}

{% block content %}
  <h1><strong>Dish detail</strong></h1>
    <table class="table table-striped table-bordered">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Dish type</th>
        <th>Cooks</th>
        <th>Ingredients</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      <tr>
        <td>{{ dish.id }}</td>
        <td>{{ dish.name }}</td>
        <td>{{ dish.dish_type }}</td>
        <td>
          {% for cook in dish.cooks.all %}
            <p>
              {{ cook.username }}
              <br>
              ({{ cook.first_name }} {{ cook.last_name }})
            </p>
          {% endfor %}
        </td>
        <td>
          {% for ingredient in dish.ingredients.all %}
            <p>{{ ingredient.name }}</p>
          {% endfor %}
        </td>
        <td>
          <a href="{% url 'kitchen:dish-update' pk=dish.id %}">Update</a>
        </td>
        <td>
          <a href="{% url 'kitchen:dish-delete' pk=dish.id %}">Delete</a>
        </td>
      </tr>
    </table>
{% endblock %}
